<div class="d-flex justify-content-center">
  <small class="alert alert-danger" *ngIf="!authService.currentUser.verifiedEmail" role="alert">
    Votre adresse e-mail n'est pas vérifié !<a class="ml-2" (click)="goToAccount()">Vérifier maintenant</a>
  </small>
</div>

<div class="jumbotron p-3 text-center bg-dark">
    <h3 *ngIf="tasks.length > 1" class="text-light">Il est temps de travailler !<br>
      Vous avez <span class="text-danger">{{ tasks.length }}</span> tâches
    </h3>
    <h3 *ngIf="tasks.length == 1" class="text-light">
      Vous avez <span class="text-danger">{{ tasks.length }}</span> tâche
    </h3>
    <h3 *ngIf="tasks.length == 0" class="text-light">Vous n'avez aucune tâche !</h3>
</div>

<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title text-center">Ajouter une nouvelle tâche à votre liste !</h5>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm.value)">
      <div class="col-md-4 offset-md-4 col-sm-10 offset-sm-1">
        <div class="form-group">
          <input class="form-control" id="name" type="text" formControlName="name" placeholder="Libellé de la tâche">
          <small class="text-danger" *ngIf="nameCtrl.touched && nameCtrl.hasError('required')">
            Le libélé est obligatoire !
          </small>
        </div>
        <div class="form-group">
          <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date de rendue" formControlName="datetime">
          <small class="text-danger" *ngIf="datetime.touched && datetime.hasError('required')">
            La data est obligatoire !
          </small>
          <owl-date-time #dt1></owl-date-time>
        </div>
        <button class="btn btn-info btn-block" type="submit" [disabled]="taskForm.invalid">Ajouter la tâche</button>
      </div>
    </form>
  </div>
</div>

<div *ngFor="let task of tasks">
  <div class="card bg-dark my-3">
    <div class="card-body">
        <p class="card-text text-light">
          <b class="task-name">{{task.name }}</b> à faire pour le {{formatDate(task.datetime)}}
          <span class="badge badge-danger mx-2" *ngIf="isOverdue(task)">Date dépassé</span>
        </p>
      <div class="d-flex justify-content-between">
        <button (click)="taskDetail(task)" class="btn btn-info mr-2">Détail</button>
        <button (click)="deleteTask(task)" class="btn btn-light">Terminer</button>
      </div>
    </div>
  </div>
</div>


