<div class="card">
  <h3 class="text-center my-3">Réinitialiser le mot de passe</h3>
  <div class="card-body">

    <form *ngIf="nb === 1">
      <h5>Etape 1 :</h5>
      <div class="form-group">
        <label for="email">Entrer votre adresse e-mail</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email" placeholder="exemple@gmail.com">
      </div>
      <button class="btn btn-info" (click)="sendCodeToEmail(2)">Envoyer moi le code</button>
    </form>
    <div class="text-center" *ngIf="errorMatching && nb === 1">
      <small class="alert alert-danger" role="alert">
        Le champ ne peut pas être vide !
      </small>
    </div>

    <form *ngIf="nb === 2">
      <h5>Etape 2 :</h5>
      <div class="form-group">
        <label for="code">Entrer le code de vérification</label>
        <input type="text" class="form-control" id="code" required [(ngModel)]="code" name="code" placeholder="012345">
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-info" (click)="verifyCodeEmail(3)">Valider</button>
        <button class="btn btn-light" (click)="setNumber(1)"> Je n'ai pas reçu le code</button>
      </div>
    </form>
    <div class="text-center" *ngIf="errorMatching && nb === 2">
      <small class="alert alert-danger" role="alert">
        Le champ ne peut pas être vide !
      </small>
    </div>
    <div class="text-center" *ngIf="errorCall && nb === 2">
      <small class="alert alert-danger" role="alert">
        Le code de vérification est incorrect !
      </small>
    </div>

    <form *ngIf="nb === 3">
      <h5>Etape 3 :</h5>
      <div class="form-group">
        <label for="pwd">Nouveau mot de passe</label>
        <input type="password" class="form-control" id="pwd" required [(ngModel)]="pwd" name="pwd" placeholder="mot de passe">
      </div>
      <div class="form-group">
        <label for="password">Confirmer le mot de passe</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password" placeholder="mot de passe">
      </div>
      <button class="btn btn-info" (click)="savePassword(4)">Enregistrer</button>
    </form>
    <div class="text-center" *ngIf="errorMatching && nb === 3">
      <small class="alert alert-danger" role="alert">
        Les mots de passe ne corresponds pas !
      </small>
    </div>
    <div class="text-center" *ngIf="errorCall && nb === 3">
      <small class="alert alert-danger" role="alert">
        Le nouveau mot de passe n'a pas pu être enregistré !
      </small>
    </div>

    <div class="d-flex justify-content-center" *ngIf="nb === 4">
      <div>
        <div class="mb-4">
          <small class="alert alert-success" role="alert">
            Le nouveau mot de passe a bien été enregisté !
          </small>
        </div>
          <button class="btn btn-info mt-3 btn-block" (click)="goToSignIn()">Connexion</button>
      </div>
    </div>
  </div>
</div>
