<button (click)="authService.logout()" class="btn btn-dark">Logout</button>
<div class="card p-2 col-md-4 offset-md-4 col-sm-10 offset-sm-1 col-xs-10 offset-xm-1">
  <img *ngIf="user.avatarKey" class="card-img-top mx-auto d-block" [src]="getImageUrl()" alt="avatar">
  <img *ngIf="!user.avatarKey" class="card-img-top mx-auto d-block" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
  <h3 class="text-center my-3">{{user.login}}</h3>
  <div class="card-body">
    <p>Personal informations</p>
    <p>Email : test@gmail.com</p>
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Edit Account
          </button>
          <div class="dropdown-menu p-1" aria-labelledby="dropdownMenuButton">
              <h2>Edit your account:</h2>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                  <h3>Change your avatar:</h3>
                  <app-avatar-form [user]="user"></app-avatar-form>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                  <h3>Reset your password:</h3>
                  <span class="row-fluid">
                      <input type="text">
                      <button class="btn btn-success ml-5">Save</button>
                  </span>
              </div>
          </div>
      </div>
  </div>
</div>
