/* You can add global styles to this file, and also import other style files */
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

.error {
  color: #ffcccb;
}

input.ng-invalid.ng-touched {
  border: 2px solid #ffcccb;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
