<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Todo List App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="authService.loggedIn()" class="nav-item">
        <a class="nav-link" routerLink="todo">Todo Soutenace</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!authService.loggedIn()"class="nav-item mr-3">
        <a class="nav-link" routerLink="sign-in">Connexion</a>
      </li>
      <li *ngIf="!authService.loggedIn()"class="nav-item">
        <a class="btn btn-info" routerLink="sign-up">Se créer un compte</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item dropdown">
        <a class="nav-link" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          <img *ngIf="authService.currentUser.avatarKey" [src]="getImageUrl()" alt="avatar">
          <img *ngIf="!authService.currentUser.avatarKey" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
          {{authService.currentUser.firstName}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
          <a class="dropdown-item" (click)="goToAccount()">Profil</a>
          <a class="dropdown-item" (click)="goToResetPassword()">Sécurité</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="authService.logout()">Déconnexion</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

