.navbar-brand {
  font-family: 'Indie Flower', cursive;
  cursor: default;
}

.nav-link, img {
  cursor: pointer;
}

img {
  border-radius: 50%;
  height: 33px;
  width: 33px;
  margin-right: 2px;
}

.auth {
  border-radius: 5%;
  border: 2px solid #5f5e5a;
  margin-left: 5px;
  margin-right: 5px;
}

.dropdown-item:hover {
  cursor: pointer;
}
